<mat-dialog-content>
    <form>
        <table>
            <tr>
                <td colspan="2"><b>Add Plugin</b></td>
               
            </tr>
            <tr>
                <td>Plugin Name</td>
                <td>
                    <input type="text" name="plugin" required>
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <textarea class="desc-input" name="desc" required></textarea>
                </td>
            </tr>
        </table>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
<button mat-raised-button color="primary" mat-dialog-close tabindex="-1">{{cancelButtonText}}</button>
</mat-dialog-actions>