table.mat-table{
    width: 80% !important;
}

.user-header{
    font-size: 22px;
    font-weight: 400;
    padding: 10px 0px !important;
}

.user-list{
    background: #FFFFFF;
    padding: 5px;
}

.delete{
    margin-left: 10px;
}

th.mat-header-cell {
    color: #FFFFFF;
    background: cornflowerblue;
    font-size: 14px;
}
