
    <mat-toolbar color="primary" class="navbar">
     
         <div>
             <span *ngFor="let head of headerArray" [routerLink]="head.route" class="header-content">
                 {{head.label}}
             </span>
         </div>
         <div>
            <span>Hello User</span>
            <mat-form-field appearance="none" floatLabel="never">
                
                <mat-select>
                  <mat-option *ngFor="let user of users" [value]="user.value">
                     {{user.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
         </div>
        
         
     
    </mat-toolbar>
