.navbar{
    justify-content: space-between;
    font-size: 15px;
}

span{
    padding-right: 1rem ;
}

.header-content{
    padding-left: 10px;
    cursor: pointer;
}

.mat-select{
    width: 55% !important;
}

.mat-select-value-text{
    display: none !important;
}

.mat-select-value{
    display: none !important;
}