<mat-sidenav-container>
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content *ngFor="let label of sidebarLabel" 
    (click)="openOverview(label)" class="label-padding">
       {{label}}
    </mat-sidenav-content>
</mat-sidenav-container>