.example-container {
    width: 100%;
    height: 100%;
  }

.sidebar{
      width: 5% !important;
  } 

.mat-drawer {
    text-align: center !important;
}

.mat-drawer-content{
    overflow: none !important;
}