<mat-sidenav-container>
    <mat-sidenav>Start</mat-sidenav>
    <mat-sidenav-content class="image-padding" [routerLink]="'dashboard/details'">
        <img src="../../../assets/admin.jpg" width="30px">
    </mat-sidenav-content>
    <mat-sidenav-content class="image-padding">
        <img src="../../../assets/doller.png" width="30px">
    </mat-sidenav-content>
    <mat-sidenav-content class="image-padding">
        <img src="../../../assets/search.png" width="30px">
    </mat-sidenav-content>
</mat-sidenav-container>