td{
    padding: 10px;
}

table{
    box-shadow: 0px 0px 6px #00000029;
    padding: 5px;
}

.pugin-details{
    padding-top: 10px;
}

.side-label{
    height: 100%;
    float: left;
    height: 85%;
}

.overview{
    float: right;
    width: 90%;
    padding: 15px;
}

.user-details{
    width: 100%;
    height: 100%;
}

.breadcrumb{
    padding: 5px;
}