<div class="user-details">
    <div class="breadcrumb">dashboard -> details</div>
    <div class="side-label">
        <app-second-sidebar></app-second-sidebar>
    </div>
    <div *ngIf="showOverview" class="overview"> 
        <button mat-raised-button color="primary" (click)="openPluginDialog()">
            Add Plugin
        </button>
        
        <div class="pugin-details">
            <table style="width: 50%;">
                <tr>
                    <td>
                        Plugin Name
                        <br><br>
                        Description
                    </td>
                     <td>
                        Activate
                     </td>
                </tr>
                <tr>
                    <td>
                        Plugin Name
                        <br><br>
                        Description
                    </td>
                     <td>
                        Deactivate
                     </td>
                </tr>
            </table>
        </div>
    </div>
</div>

