/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-select-value-text{
    display: none !important;
}

.mat-select-value{
    display: none !important;
}

.mat-form-field-infix {
    width: 20px !important;
}

.mat-select-panel{
    font-size: 15px !important;
    min-width: calc(100% + 16px) !important; 
}